.search-form {
  font-family: "Roboto Slab", sans-serif;
  color: #fff;
  margin: 0 auto;
  max-width: 608px;
  width: 100%;
}
.search-form__heading {
  max-width: 600px;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  padding-top: 80px;
  margin: 0 auto 32px;
}
.search-form__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto 88px;
}
.search-form__form {
  position: relative;
  display: flex;
}
.search-form__input {
  font-family: "Roboto", sans-serif;
  flex: 1;
  height: 64px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 100px;
  padding: 0 0 0 24px;
}
.search-form__input::placeholder {
  opacity: 20%;
}
.search-form__button {
  position: absolute;
  width: 168px;
  height: 64px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  border-radius: 100px;
  top: 0;
  right: 0px;
  border: none;
  background: #2f71e5;
  transition: all 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;
}
.search-form__button:hover {
  background: #347eff;
}
.search-form__button:active {
  background: #2a65cc;
  transform: scale(0.98);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-form__keyword {
  color: red;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .search-form__heading {
    max-width: 450px;
    font-size: 36px;
    line-height: 40px;
    padding-top: 38px;
    margin-bottom: 16px;
  }
  .search-form__description {
    max-width: 452px;
    margin-bottom: 48px;
  }
  .search-form__form {
    max-width: 448px;
    margin: 0 auto;
  }
  .search-form__input {
    height: 56px;
  }
  .search-form__button {
    width: 160px;
    height: 56px;
  }
}
@media screen and (max-width: 700px) {
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-form__heading {
    max-width: 288px;
    font-size: 36px;
    line-height: 40px;
    padding: 30px 19px 0 16px;
    margin: 0 0 16px;
  }
  .search-form__description {
    max-width: 288px;
    margin: 0 0 120px;
  }
  .search-form__form {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
  }
  .search-form__input {
    flex: none;
    width: 264px;
    height: 56px;
    padding: 0 0 0 24px;
  }
  .search-form__button {
    position: static;
    height: 56px;
    width: 288px;
  }
}